header {
    padding: 20px;
    border: 1px gray dashed;
    /*height: 50px;*/
}

#logo {
    height: 50px;
    width: 50px;
    background: orange;
    float: left;
}

#menu-button {
    height: 50px;
    width: 50px;
    background: pink;
    float: right;
}
