header {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
}

#logo {
    height: 100%;
    position: absolute;
}

#menu-button {
    height: 100%;
    position: absolute;
    right: 0px;
}

#bigPicture {
    background-image: url("assets/spices.jpg");
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
    padding: 200px;
}
