<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>My best work ever (so far...)</title>
</head>
<body>
    <header>
        <a href="/"><img src="/logo.png" alt="Logo"></a><h1>Paddys Portfolio</h1>
    </header>
<main>
    {{{ body }}}
</main>
    <footer>
        footer
    </footer>
</body>
</html>